/* Selector Specificity: (0, 0, 1) */
                    /* id, class, element */

.html{
    background-color: aqua !important;
}

.html{
    background-color: antiquewhite;
}

/* #html{
    background-color: burlywood;
}*/

#html{
    background-color: blueviolet;
} 

li{
    background-color: red;
}

li{
    background-color: yellow;
}

li{
    background-color: blue;
}

